<div class="p-6 flex items-center justify-center">
  <div
    class="bg-neutral-50 text-neutral-800 dark:bg-neutral-700 dark:text-neutral-200 rounded-xl shadow-lg py-2 px-4 md:p-4 mb-6"
  >
    @if(authService.isAuth()){
    <h2 class="text-center font-semibold text-xl">Modification</h2>
    }@else {
    <h2 class="mb-4 text-center font-semibold text-xl">Inscription</h2>
    }

    <div
      class="grid gap-8 grid-cols-1 items-start"
      [class]="isProvider ? 'lg:grid-cols-3' : ''"
    >
      <form
        [formGroup]="accountForm"
        (ngSubmit)="onSubmit()"
        class="grid gap-2 grid-cols-2 sm:grid-cols-6"
        [class]="isProvider ? 'lg:col-span-2' : ''"
      >
        <div class="relative sm:col-span-3">
          <input
            type="text"
            name="firstname"
            id="hs-floating-input-firstname"
            class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
            placeholder=""
            formControlName="firstname"
          />
          <label
            for="hs-floating-input-firstname"
            class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
            >Prénom</label
          >
        </div>

        <div class="relative sm:col-span-3">
          <input
            type="text"
            name="lastname"
            id="hs-floating-input-lastname"
            class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
            placeholder=""
            formControlName="lastname"
          />
          <label
            for="hs-floating-input-lastname"
            class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
            >Nom</label
          >
        </div>

        <div class="relative col-span-2 sm:col-span-4">
          <input
            type="text"
            name="email"
            id="hs-floating-input-email"
            class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
            placeholder=""
            formControlName="email"
          />
          <label
            for="hs-floating-input-email"
            class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
            >Email</label
          >
        </div>

        <div class="relative col-span-2 sm:col-span-2">
          <input
            type="tel"
            name="telephone"
            id="hs-floating-input-telephone"
            class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
            placeholder=""
            formControlName="telephone"
            pattern="0[0-9]{9}"
          />
          <label
            for="hs-floating-input-telephone"
            class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
            >Téléphone</label
          >
        </div>

        <div class="relative col-span-2 sm:col-span-6">
          <input
            type="text"
            name="address"
            id="hs-floating-input-address"
            class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
            placeholder=""
            formControlName="address"
          />
          <label
            for="hs-floating-input-address"
            class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
            >Adresse</label
          >
        </div>

        <div class="relative sm:col-span-4">
          <input
            type="text"
            name="city"
            id="hs-floating-input-city"
            class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
            placeholder=""
            formControlName="city"
          />
          <label
            for="hs-floating-input-city"
            class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
            >Ville</label
          >
        </div>

        <div class="relative sm:col-span-2">
          <input
            type="text"
            name="postalCode"
            id="hs-floating-input-postalCode"
            class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
            placeholder=""
            formControlName="postalCode"
          />
          <label
            for="hs-floating-input-postalCode"
            class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
            >Code postal</label
          >
        </div>

        @if (authService.isAuth()) {
        <button
          (click)="delUser()"
          class="py-2 w-full col-span-2 sm:col-span-3 cursor-vernis text-neutral-600 border border-pink-300 hover:border-pink-500 rounded-xl"
        >
          Supprimer votre compte
        </button>
        }

        <button
          [disabled]="accountForm.invalid"
          type="submit"
          class="py-4 w-full col-span-2 sm:col-start-5 sm:col-span-2 cursor-vernis text-lg font-semibold border border-pink-300 hover:text-neutral-50 hover:bg-gradient-to-r hover:from-pink-500 hover:to-purple-500 rounded-xl disabled:opacity-20 hover:disabled:bg-none disabled:text-neutral-800 disabled:dark:text-neutral-200 disabled:cursor-not-allowed"
        >
          Valider
        </button>
      </form>

      @if(isProvider){
      <div>
        <form
          [formGroup]="serviceForm"
          (ngSubmit)="ajoutService()"
          class="grid gap-4 gap-y-2 grid-cols-2 sm:grid-cols-4 lg:grid-cols-2"
        >
          <div class="relative col-span-2">
            <input
              type="text"
              name="serviceName"
              id="hs-floating-input-serviceName"
              class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
              placeholder=""
              formControlName="serviceName"
            />
            <label
              for="hs-floating-input-serviceName"
              class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
              >Ajouter un service</label
            >
          </div>

          <div class="relative">
            <input
              type="number"
              name="servicePrice"
              id="hs-floating-input-servicePrice"
              class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
              placeholder=""
              formControlName="servicePrice"
            />
            <label
              for="hs-floating-input-servicePrice"
              class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
              >Prix</label
            >
          </div>

          <button
            type="submit"
            [disabled]="serviceForm.invalid"
            class="w-full cursor-vernis text-lg font-semibold border border-pink-300 hover:text-neutral-50 hover:bg-gradient-to-r hover:from-pink-500 hover:to-purple-500 rounded-xl disabled:opacity-20 hover:disabled:bg-none disabled:text-neutral-800 disabled:dark:text-neutral-200 disabled:cursor-not-allowed"
          >
            Ajouter
          </button>
        </form>

        <p class="my-4 text-center font-bold text-red-600">
          Afficher les services
        </p>

        <form
          [formGroup]="languageForm"
          (ngSubmit)="ajoutLanguage()"
          class="grid gap-4 gap-y-2 grid-cols-3"
        >
          <div class="relative col-span-2">
            <input
              type="text"
              name="languageName"
              id="hs-floating-input-languageName"
              class="peer p-4 block w-full bg-neutral-100 border-gray-200 rounded-xl focus:border-pink-500 focus:ring-pink-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:focus:border-pink-600 dark:focus:ring-pink-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
              placeholder=""
              formControlName="languageName"
            />
            <label
              for="hs-floating-input-languageName"
              class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-neutral-700 dark:peer-focus:text-neutral-300 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-neutral-400 dark:peer-[:not(:placeholder-shown)]:text-neutral-500"
              >Ajouter une langue</label
            >
          </div>

          <button
            type="submit"
            [disabled]="languageForm.invalid"
            class="w-full cursor-vernis text-lg font-semibold border border-pink-300 hover:text-neutral-50 hover:bg-gradient-to-r hover:from-pink-500 hover:to-purple-500 rounded-xl disabled:opacity-20 hover:disabled:bg-none disabled:text-neutral-800 disabled:dark:text-neutral-200 disabled:cursor-not-allowed"
          >
            Ajouter
          </button>
        </form>

        <p class="my-4 text-center font-bold text-red-600">
          Afficher les langues
        </p>

        <p class="my-4 text-center font-bold text-red-600">
          Vos disponibilités :
        </p>

        <div class="flex justify-center items-end flex-wrap gap-2 h-full mt-2">
          <div class="flex justify-center items-end gap-2 h-full">
            <p
              class="px-2 text-neutral-50 rounded-lg cursor-vernis"
              [class]="
                disponibilites()[0] == '1'
                  ? 'bg-purple-500'
                  : 'bg-neutral-500 opacity-50'
              "
              (click)="toggleDispo(0)"
            >
              Lun
            </p>
            <p
              class="px-2 text-neutral-50 rounded-lg cursor-vernis"
              [class]="
                disponibilites()[1] == '1'
                  ? 'bg-purple-500'
                  : 'bg-neutral-500 opacity-50'
              "
              (click)="toggleDispo(1)"
            >
              Mar
            </p>
            <p
              class="px-2 text-neutral-50 rounded-lg cursor-vernis"
              [class]="
                disponibilites()[2] == '1'
                  ? 'bg-purple-500'
                  : 'bg-neutral-500 opacity-50'
              "
              (click)="toggleDispo(2)"
            >
              Mer
            </p>
          </div>
          <div class="flex justify-center items-end gap-2 h-full">
            <p
              class="px-2 text-neutral-50 rounded-lg cursor-vernis"
              [class]="
                disponibilites()[3] == '1'
                  ? 'bg-purple-500'
                  : 'bg-neutral-500 opacity-50'
              "
              (click)="toggleDispo(3)"
            >
              Jeu
            </p>
            <p
              class="px-2 text-neutral-50 rounded-lg cursor-vernis"
              [class]="
                disponibilites()[4] == '1'
                  ? 'bg-purple-500'
                  : 'bg-neutral-500 opacity-50'
              "
              (click)="toggleDispo(4)"
            >
              Ven
            </p>
            <p
              class="px-2 text-neutral-50 rounded-lg cursor-vernis"
              [class]="
                disponibilites()[5] == '1'
                  ? 'bg-purple-500'
                  : 'bg-neutral-500 opacity-50'
              "
              (click)="toggleDispo(5)"
            >
              Sam
            </p>
            <p
              class="px-2 text-neutral-50 rounded-lg cursor-vernis"
              [class]="
                disponibilites()[6] == '1'
                  ? 'bg-purple-500'
                  : 'bg-neutral-500 opacity-50'
              "
              (click)="toggleDispo(6)"
            >
              Dim
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
