<div class="flex flex-col justify-center items-center mt-16 mb-8">
  <nav class="flex gap-x-1 justify-center">
    <button
      type="button"
      class="-mb-px py-3 px-4 inline-flex items-center shadow-xl gap-x-2 text-sm font-medium text-center border rounded-t-lg bg-neutral-50 dark:bg-neutral-700 dark:hover:text-neutral-50 dark:border-neutral-900"
      [class]="
        !isProvider
          ? 'text-neutral-50 dark:text-neutral-50 bg-gradient-to-r from-pink-500 to-purple-500 cursor-default'
          : 'bg-neutral-200 hover:bg-neutral-100 hover:dark:bg-neutral-800 dark:text-neutral-300 text-neutral-800 cursor-vernis'
      "
      (click)="isProvider = false"
    >
      Connexion en tant qu'utilisateur
    </button>
    <button
      type="button"
      class="-mb-px py-3 px-4 inline-flex items-center shadow-xl gap-x-2 text-sm font-medium text-center border rounded-t-lg bg-neutral-50 dark:bg-neutral-700 dark:hover:text-neutral-50 dark:border-neutral-900"
      [class]="
        isProvider
          ? 'text-neutral-50 dark:text-neutral-50 bg-gradient-to-r from-pink-500 to-purple-500 cursor-default'
          : 'bg-neutral-200 hover:bg-neutral-100 hover:dark:bg-neutral-800 dark:text-neutral-300 text-neutral-800 cursor-vernis'
      "
      (click)="isProvider = true"
    >
      Connexion en tant que prestataire
    </button>
  </nav>
  <div
    class="flex flex-col justify-center items-center p-2 bg-white dark:bg-neutral-900 border-gray-200 dark:border-neutral-700 w-[32rem] rounded-xl shadow-lg"
  >
    @if (isProvider) {
    <h1 class="text-center text-2xl font-semibold p-2">Prestataire</h1>
    }@else {
    <h1 class="text-center text-2xl font-semibold p-2">Utilisateur</h1>
    }
    <input
      type="text"
      class="w-[22rem] px-4 py-2 m-2 bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 border border-gray-300 rounded-xl text-neutral-900 placeholder-neutral-500 dark:placeholder-neutral-300 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-pink-500 caret-pink-500"
      placeholder="adresse@mail.fr"
      [(ngModel)]="email"
      (keyup.enter)="connect()"
    />
    <input
      type="password"
      class="w-[22rem] px-4 py-2 m-2 bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 border border-gray-300 rounded-xl text-neutral-900 placeholder-neutral-500 dark:placeholder-neutral-300 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-pink-500 caret-pink-500"
      placeholder="mot de passe"
      [(ngModel)]="motDePasse"
      (keyup.enter)="connect()"
    />
    <button
      (click)="connect()"
      class="m-4 px-8 py-2 cursor-vernis font-semibold border border-pink-300 hover:text-white hover:bg-gradient-to-r hover:from-pink-500 hover:to-purple-500 rounded-xl"
    >
      Connexion
    </button>
    <p>ou</p>
    <button
      class="my-4 px-8 py-2 cursor-vernis font-semibold border border-pink-300 hover:border-pink-600 rounded-xl"
      routerLink="/account"
    >
      S'inscrire
    </button>
  </div>
</div>
