<div class="flex flex-col justify-center items-center mt-20 mb-8">
  <h1 class="text-center text-2xl font-semibold p-2">
    Services de beauté à domicile
  </h1>
  <input
    type="text"
    class="w-[22rem] sm:w-[36rem] px-4 py-2 bg-neutral-200 border border-gray-400 rounded-xl text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
    placeholder="manucure, épilation, onglerie, maquillage..."
  />
</div>
<div class="flex justify-center items-center mb-8">
  <div
    class="grid grid-cols-2 sm:grid-cols-3 content-center justify-items-center gap-4"
  >
    <div
      class="w-[10rem] flex flex-col bg-white border shadow-sm hover:shadow-lg rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <img
        class="w-full h-auto rounded-t-xl"
        src="images/categories/manucure.webp"
        alt="Manucure"
      />
      <div class="p-1">
        <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
          Manucure
        </h3>
      </div>
    </div>
    <div
      class="w-[10rem] flex flex-col bg-white border shadow-sm hover:shadow-lg rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <img
        class="w-full h-auto rounded-t-xl"
        src="images/categories/manucure.webp"
        alt="Manucure"
      />
      <div class="p-1">
        <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
          Epilation
        </h3>
      </div>
    </div>
    <div
      class="w-[10rem] flex flex-col bg-white border shadow-sm hover:shadow-lg rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <img
        class="w-full h-auto rounded-t-xl"
        src="images/categories/manucure.webp"
        alt="Manucure"
      />
      <div class="p-1">
        <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
          Coiffure
        </h3>
      </div>
    </div>
    <div
      class="w-[10rem] flex flex-col bg-white border shadow-sm hover:shadow-lg rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <img
        class="w-full h-auto rounded-t-xl"
        src="images/categories/manucure.webp"
        alt="Manucure"
      />
      <div class="p-1">
        <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
          Maquillage
        </h3>
      </div>
    </div>
    <div
      class="w-[10rem] flex flex-col bg-white border shadow-sm hover:shadow-lg rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <img
        class="w-full h-auto rounded-t-xl"
        src="images/categories/manucure.webp"
        alt="Manucure"
      />
      <div class="p-1">
        <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
          Extension de cils
        </h3>
      </div>
    </div>
    <div
      class="w-[10rem] flex flex-col bg-white border shadow-sm hover:shadow-lg rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <img
        class="w-full h-auto rounded-t-xl"
        src="images/categories/manucure.webp"
        alt="Manucure"
      />
      <div class="p-1">
        <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
          Soin
        </h3>
      </div>
    </div>
  </div>
</div>
